/* checkbox styles */
input[type="checkbox"], input[type="radio"] {
    display: none;
    padding: 0;
}

input[type="checkbox"] + label, input[type="radio"] + label {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    transition: 250ms;
    margin-bottom: -4px;
}

input[type="checkbox"] + label::before {
    content: "";
    display: block;
}

input[type="checkbox"] + label::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border: 2px solid rgb(102, 102, 102);
    transition: 250ms;
}

input[type="checkbox"]:checked + label::after {
    background-color: rgb(33, 150, 243);
    border-color: rgb(33, 150, 243);
}

input[type="checkbox"]:checked + label::before {
    display: table;
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
}

input[type="checkbox"] + label::after {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 1px;
}

input[type="checkbox"] + label + label {
    padding-left: 3px;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    input[type="checkbox"] + label + label {
        margin-bottom: 0;
    }
}

input[type="radio"] + label::before, input[type="radio"] + label::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: 250ms;
}

input[type="radio"] + label::before {
    background-color: rgb(33, 150, 243);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

input[type="radio"] + label::after {
    border: 2px solid rgb(102, 102, 102);
}

input[type="radio"]:checked + label::before {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

input[type="radio"]:checked + label::after {
    border-color: rgb(33, 150, 243);
}

/* radio button styles */
#radio-holder {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#radio-holder > input[type="radio"] + label {
    margin: auto 2px;
}

input[type="radio"].aqua + label::before {
    background-color: rgba(0, 118, 118, 0.85);
}
input[type="radio"].aqua:checked + label::after {
    border-color: rgba(0, 118, 118, 0.85);
}
input[type="radio"].aqua + label::after {
    border-color: rgba(0, 118, 118, 0.65);
}

input[type="radio"].pink + label::before {
    background-color: rgba(205, 0, 116, 0.85);
}
input[type="radio"].pink:checked + label::after {
    border-color: rgba(205, 0, 116, 0.85);
}
input[type="radio"].pink + label::after {
    border-color: rgba(205, 0, 116, 0.65);
}

input[type="radio"].green + label::before {
    background-color: rgba(0, 158, 0, 0.85);
}
input[type="radio"].green:checked + label::after {
    border-color: rgba(0, 158, 0, 0.85);
}
input[type="radio"].green + label::after {
    border-color: rgba(0, 158, 0, 0.65);
}

input[type="radio"].yellow + label::before {
    background-color: rgba(255, 170, 0, 0.85);
}
input[type="radio"].yellow:checked + label::after {
    border-color: rgba(255, 170, 0, 0.85);
}
input[type="radio"].yellow + label::after {
    border-color: rgba(255, 170, 0, 0.65);
}

input[type="radio"].purple + label::before {
    background-color: rgba(83, 15, 173, 0.85);
}
input[type="radio"].purple:checked + label::after {
    border-color: rgba(83, 15, 173, 0.85);
}
input[type="radio"].purple + label::after {
    border-color: rgba(83, 15, 173, 0.65);
}

input[type="radio"].orange + label::before {
    background-color: rgba(255, 73, 0, 0.85);
}
input[type="radio"].orange:checked + label::after {
    border-color: rgba(255, 73, 0, 0.85);
}
input[type="radio"].orange + label::after {
    border-color: rgba(255, 73, 0, 0.65);
}

input[type="radio"].deepblue + label::before {
    background-color: rgba(31, 26, 178, 0.85);
}
input[type="radio"].deepblue:checked + label::after {
    border-color: rgba(31, 26, 178, 0.85);
}
input[type="radio"].deepblue + label::after {
    border-color: rgba(31, 26, 178, 0.65);
}

input[type="radio"].crimson + label::before {
    background-color: rgba(197, 0, 0, 0.85);
}
input[type="radio"].crimson:checked + label::after {
    border-color: rgba(197, 0, 0, 0.85);
}
input[type="radio"].crimson + label::after {
    border-color: rgba(197, 0, 0, 0.65);
}
