/* checkbox styles */
/*
.checkbox-container {
    margin-left: -15px;
}

.checkbox-inline.checkbox-inline {
	margin: 0;
    padding-left: 15px;
}

.checkbox-inline label {
	min-width: 145px;
}
.checkbox-inline label.longer {
	min-width: 160px;
}

/* mozilla checkbox fix *\/
input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    -moz-appearance: none;
}
*/

input[type="checkbox"], input[type="radio"] {
    display: none;
    padding: 0;
}

input[type="checkbox"] + label, input[type="radio"] + label {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    transition: 250ms;
    margin-bottom: -4px;
}

input[type="checkbox"] + label:before, input[type="radio"] + label:before {
    content: "";
    display: block;
}

input[type="checkbox"] + label:after, input[type="radio"] + label:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border: 2px solid #666666;
    transition: 250ms;
}

input[type="checkbox"]:checked + label:after, input[type="radio"]:checked + label:after {
    background-color: #2196f3;
    border-color: #2196f3;
}

input[type="checkbox"]:checked + label:before {
    display: table;
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    transform: rotate(45deg);
    z-index: 1;
}

input[type="checkbox"] + label:after {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 1px;
}

input[type="radio"] + label:before {
    background-color: #2196f3;
}

input[type="checkbox"] + label + label {
    padding-left: 3px;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    input[type="checkbox"] + label + label {
        margin-bottom: 0;
    }
}

/* radio button styles */
#radiocolours input[type="radio"] {
    padding-right: 3px;
}

input[type="radio"].midblue::before {
    background-color: rgba(19, 111, 225, 0.85);
}
input[type="radio"].midblue:checked::after {
    border-color: rgba(19, 111, 225, 0.85);
}
input[type="radio"].midblue::after {
    border-color: rgba(19, 111, 225, 0.65);
}

input[type="radio"].crimson::before {
    background-color: rgba(160, 29, 33, 0.85);
}
input[type="radio"].crimson:checked::after {
    border-color: rgba(160, 29, 33, 0.85);
}
input[type="radio"].crimson::after {
    border-color: rgba(160, 29, 33, 0.65);
}

input[type="radio"].green::before {
    background-color: rgba(14, 147, 40, 0.85);
}
input[type="radio"].green:checked::after {
    border-color: rgba(14, 147, 40, 0.85);
}
input[type="radio"].green::after {
    border-color: rgba(14, 147, 40, 0.65);
}

input[type="radio"].darkgreen::before {
    background-color: rgba(27, 98, 46, 0.85);
}
input[type="radio"].darkgreen:checked::after {
    border-color: rgba(27, 98, 46, 0.85);
}
input[type="radio"].darkgreen::after {
    border-color: rgba(27, 98, 46, 0.65);
}

input[type="radio"].purple::before {
    background-color: rgba(102, 44, 145, 0.85);
}
input[type="radio"].purple:checked::after {
    border-color: rgba(102, 44, 145, 0.85);
}
input[type="radio"].purple::after {
    border-color: rgba(102, 44, 145, 0.65);
}

input[type="radio"].orange::before {
    background-color: rgba(255, 107, 0, 0.85);
}
input[type="radio"].orange:checked::after {
    border-color: rgba(255, 107, 0, 0.85);
}
input[type="radio"].orange::after {
    border-color: rgba(255, 107, 0, 0.65);
}

input[type="radio"].deepblue::before {
    background-color: rgba(10, 28, 210, 0.85);
}
input[type="radio"].deepblue:checked::after {
    border-color: rgba(10, 28, 210, 0.85);
}
input[type="radio"].deepblue::after {
    border-color: rgba(10, 28, 210, 0.65);
}

input[type="radio"].red::before {
    background-color: rgba(238, 46, 20, 0.85);
}
input[type="radio"].red:checked::after {
    border-color: rgba(238, 46, 20, 0.85);
}
input[type="radio"].red::after {
    border-color: rgba(238, 46, 20, 0.65);
}

input[type="radio"].grey::before {
    background-color: rgba(128, 128, 128, 0.85);
}
input[type="radio"].grey:checked::after {
    border-color: rgba(128, 128, 128, 0.85);
}
input[type="radio"].grey::after {
    border-color: rgba(128, 128, 128, 0.65);
}
