body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.846;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgb(244, 244, 244);
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.1px;
}
* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
}
article, aside, footer, header, nav, section {
  display: block;
}
.navbar {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  min-height: 64px;
  margin-bottom: 23px;
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
.noselect {
  user-select: none;
}
.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
.navbar-brand {
  display: inline-block;
  padding-top: 20.5px;
  padding-bottom: 20.5px;
  margin-right: 1rem;
  font-size: 24px;
  line-height: 23px;
  white-space: nowrap;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  height: 64px;
}
span.blue {
  color: rgb(33, 150, 243);
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.panel-group {
  margin-bottom: 23px;
}
.panel {
  margin-bottom: 23px;
  background-color: rgb(255, 255, 255);
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}
.panel-group .panel {
  margin-bottom: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-primary {
  border-top-color: rgb(33, 150, 243);
  border-right-color: rgb(33, 150, 243);
  border-bottom-color: rgb(33, 150, 243);
  border-left-color: rgb(33, 150, 243);
}
.panel-group .panel, .panel-group .panel-primary {
  margin-bottom: 15px;
  text-overflow: ellipsis;
}
.panel-heading {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-bottom-width: initial;
  border-bottom-style: none;
  border-bottom-color: initial;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.panel-group .panel-heading {
  border-bottom-width: 0px;
  border-bottom-style: initial;
  border-bottom-color: initial;
}
.panel-primary > .panel-heading {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  border-top-color: rgb(33, 150, 243);
  border-right-color: rgb(33, 150, 243);
  border-bottom-color: rgb(33, 150, 243);
  border-left-color: rgb(33, 150, 243);
}
.panel-primary .panel-heading {
  font-weight: 700;
  font-size: 14px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;
  position: relative;
  cursor: default;
}
.panel-body {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.typeahead-container {
  position: relative;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: inherit;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  font-stretch: inherit;
}
button, input {
  overflow-x: visible;
  overflow-y: visible;
}
[role="button"], a, area, button, input, label, select, summary, textarea {
  touch-action: manipulation;
}
button, input, select, textarea {
  line-height: inherit;
}
input {
  line-height: normal;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input, button {
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.1px;
}
textarea, textarea.form-control, input.form-control, input[type="text"], input[type="password"], input[type="email"], input[type="number"], [type="text"].form-control, [type="password"].form-control, [type="email"].form-control, [type="tel"].form-control, [contenteditable].form-control {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-appearance: none;
  box-shadow: rgb(221, 221, 221) 0px -1px 0px inset;
  font-size: 16px;
}
.coursein.typeahead {
  height: 38px;
  width: 100%;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-size: 14px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(204, 204, 204);
  border-right-color: rgb(204, 204, 204);
  border-bottom-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: rgba(255, 255, 255, 0);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: initial, initial;
  transition-property: border-color, box-shadow;
}
.dropdown-menu {
  position: absolute;
  top: 38px;
  left: 0px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 200px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 13px;
  color: rgb(41, 43, 44);
  text-align: left;
  list-style-type: none;
  list-style-position: initial;
  list-style-image: initial;
  background-color: rgb(255, 255, 255);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgba(0, 0, 0, 0.15);
  border-right-color: rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-left-color: rgba(0, 0, 0, 0.15);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
}
.class-drag, .class-shadow, .dropdown-menu {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
#courses {
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: -10px;
  margin-left: 0px;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.glyphicon-remove-circle::before {
  content: "";
}
.glyphicon.glyphicon-remove-circle {
  font-size: 20px;
  vertical-align: top;
  color: rgb(33, 150, 243);
}
.glyphicon.glyphicon-remove-circle:hover {
  color: rgb(20, 127, 212);
}
.glyphicon.glyphicon-remove-circle:active {
  color: rgb(0, 96, 170);
}
#glyphloader {
  visibility: hidden;
  position: absolute;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
p {
  margin-top: 0px;
  margin-bottom: 1em;
  margin-right: 0px;
  margin-left: 0px;
}
.dd-item, .row-container, p {
  cursor: default;
}
a {
  background-color: transparent;
  color: rgb(33, 150, 243);
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  transition-duration: 0.2s;
  transition-timing-function: initial;
  transition-delay: initial;
  transition-property: all;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
a:not([href]):not([tabindex]):focus {
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}
a:focus {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
}
.checkbox-container {
  margin-left: -20px;
  margin-bottom: 5px;
}
div.flow {
  display: inline-block;
}
.radio-inline, .checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0px;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  max-width: 100%;
  font-weight: normal;
}
.radio label, .radio-inline label, .checkbox label, .checkbox-inline label {
  padding-left: 25px;
}
.checkbox-inline label {
  min-width: 150px;
}
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
input[type="radio"], input[type="checkbox"] {
  margin-top: 4px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: normal;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="radio"], .checkbox-inline input[type="radio"], .radio input[type="checkbox"], .radio-inline input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-left: -25px;
}
input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: relative;
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  margin-bottom: -4px;
  -webkit-appearance: none;
  cursor: pointer;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-top: 0px;
  margin-left: 10px;
}
.checkbox-inline + .checkbox-inline {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
[type="reset"], [type="submit"], button, html [type="button"] {
  -webkit-appearance: button;
}
.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.846;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  padding-top: 6px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 16px;
  font-size: 13px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  transition-duration: 0.4s;
  transition-timing-function: initial;
  transition-delay: initial;
  transition-property: all;
  margin-bottom: 0px;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 4px;
}
.btn.focus, .btn:focus {
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  box-shadow: rgba(2, 117, 216, 0.25) 0px 0px 0px 2px;
}
.btn.disabled, .btn:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}
.btn.active, .btn:active {
  background-image: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.panel-primary .panel-heading .btn {
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  line-height: 1;
  box-shadow: none;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  float: right;
  vertical-align: middle;
}
.align-middle {
  vertical-align: middle;
}
.glyphicon-download::before {
  content: "";
}
.panel-primary .panel-heading .btn .glyphicon {
  font-size: 16px;
  margin-left: 5px;
}
.panel-primary .panel-body.nopadding {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.panel-primary .panel-body.scroll-x {
  overflow-x: auto;
}
#timetable {
  overflow-y: hidden;
}
.row-container {
  width: 100%;
  min-width: 510px;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
  background-color: rgb(255, 255, 255);
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col {
  flex-basis: 0px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-1 {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}
#courses > div, .col.head {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(221, 221, 221);
}
.col.body, .col.head {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(221, 221, 221);
  line-height: 1.846;
  text-align: center;
}
.col.head {
  font-weight: 700;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}
.col.first {
  font-weight: 700;
  border-left-width: 0px;
  border-left-style: initial;
  border-left-color: initial;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(221, 221, 221);
}
.w-100 {
  width: 100%;
}
.small, small {
  font-size: 80%;
  font-weight: 400;
}
small, .small {
  font-size: 92%;
}
#courses > div, .col.body {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(221, 221, 221);
}
.col.body {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: visible;
  overflow-y: visible;
  height: 25px;
}
.col.small {
  font-size: 0.9em;
  font-weight: 400;
}
.col.first > div {
  position: relative;
  top: 100%;
  transform: translateY(-50%);
}
.col.body.half {
  border-top-width: 0px;
  border-top-style: initial;
  border-top-color: initial;
}
