/* style.css
 *
 * Authors: David Adams
 */

html, body {
    height: 100%;
    cursor: default;
}

body {
	background-color: #f4f4f4;
	color: rgba(0, 0, 0, 0.8);
}

p {
	margin-bottom: 0.5em;
}

div.flow {
	display: inline-block;
}

span.blue {
    color: #2196f3;
}

img.modal-img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    object-position: center;
    font-family: 'object-fit: contain; object-position: center;';
}

input:focus, button:focus {
    outline: none;
}

/* topbar styles */
nav.topbar {
    font-size: 18px;
    height: 45px;
    background-color: #004F8B;
    color: white;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.15), 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 0 4px rgba(0,0,0,.15), 0 4px 6px rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    z-index: 1005;
    width: 100%;
    display: -webkit-flex;
    display: flex;
}
nav.topbar > div.name {
    margin: auto;
}
nav.topbar > div.menu-toggle {
    font-size: 20px;
    display: -webkit-flex;
    display: flex;
    width: 45px;
    transition: background-color 0.2s;
    background-color: transparent;
    cursor: pointer;
}
nav.topbar > div.menu-toggle:hover {
    background-color: #0061AB;
}
nav.topbar > div.menu-toggle > span {
    margin: auto;
}
.menu {
    display: none;
    background-color: #0061AB;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 45px;
    width: 250px;
    z-index: 1;
}
#menu-shadow {
    position: fixed;
    top: 45px;
    right: 0;
    z-index: 1004;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.15), 0 2px 6px rgba(0,0,0,.2);
    box-shadow: 0 0 4px rgba(0,0,0,.15), 0 2px 6px rgba(0,0,0,.2);
}
.menu > .menu-item {
    height: 45px;
    /*padding: 0 10px;*/
    display: -webkit-flex;
    display: flex;
    transition: background-color 0.2s;
    background-color: transparent;
    cursor: pointer;
}
.menu > .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.menu > .menu-item > span {
    margin: auto 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu > .menu-item > span > span {
    vertical-align: middle;
    padding-left: 10px;
}
nav.topbar + div {
    padding-top: 65px;
}

/* footer styles */
footer {
	color: white;
	background-color: #282828;
	text-align: center;
    width: 100%;
    max-height: 70px;
}

footer p {
    margin: 0;
}

footer div.content {
    padding: 10px;
}

/* panel styles */
.panel-group .panel, .panel-group .panel-primary {
    margin-bottom: 15px;

    /* overflow rules */
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.panel-primary .panel-heading {
	font-weight: bold;
    font-size: 14px;
    padding: 10px 15px 8px;
}

.panel-primary .panel-body.nopadding {
    padding: 0;
}

.panel-primary .panel-body.scroll-x {
    overflow-x: auto;
}

.panel-primary .panel-heading {
    position: relative;
    cursor: default;
}

.panel-primary .panel-heading .btn {
    position: absolute;
    top: 50%;
    right: 14px;
    right: 1em;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-primary .panel-heading .btn .glyphicon {
    font-size: 16px;
    margin-left: 5px;
}

.panel-primary .panel-heading .btn.disabled, .panel-primary .panel-heading .btn.disabled:hover {
    color: rgb(93, 93, 93);
}

#noTimetableDownload {
    display: none;
}

/* alert styles */
.alert {
    position: relative;
}

.alert>.close {
    padding: 0 0.5rem;
    position: absolute;
    top: 50%;
    right: 0.5rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    vertical-align: middle;
}

@media (min-width: 576px) {
    .alert > .close {
        right: 14px;
        right: 1rem;
    }
}

/* modal styles */
.modal .close {
    padding: 0 0.5rem;
    position: absolute;
    right: 1rem;
    vertical-align: middle;
}

.modal .input-group-addon:first-child {
    min-width: 55px;
    text-align: left;
    padding-left: 0;
}

/* faq styles */
.faq-question, .faq-answer {
    line-height: 1.5;
}
.faq-question {
    font-weight: bold;
    margin-bottom: 0.15em;
}
.faq-answer {
    margin-bottom: 1em;
}

/* typeahead styles */
.typeahead-container {
    position: relative;
}
.coursein.typeahead {
	height: 38px;
    width: 100%;
	padding: 8px;
	font-size: 14px;
	border: 1px solid #cccccc;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.dropdown-menu {
	min-width: 200px;
    width: 100%;
    position: absolute;
    top: 38px;
	padding: 0;
    overflow: hidden;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;

}
.dd-item {
	display: block;
	padding: 3px 15px;
    background-color: white;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dd-item.focus {
	background-color: #59b4ff;
}

/* courses */
#courses {
    margin: 10px 0 -10px 0; /* NB: as soon as an element is added, margin-bottom is set to 0 */
}

#courses>div {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #dddddd;
}
#courses>div:last-child {
    border-bottom: 1px solid #dddddd;
}

#courses>div>div:first-child {
    margin-right: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#courses>div>div:last-child {
    -ms-align-self: flex-end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}
#courses .glyphicon {
    margin: auto;
    padding-left: 5px;
}

.button-col {
    padding-left: 0;
}

.glyphicon-clickable {
	font-size: 20px;
    color: #2196f3;
    cursor: pointer;
}
.glyphicon-clickable:hover {
    color: #147fd4;
}
.glyphicon-clickable:active {
    color: #0060aa;
}

.glyphicon {
    position: static;
}

#generateWarning {
	color: #ff9800;
}

/* misc styles */
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
