/* style.css
 * 
 * Authors: David Adams
 */

html, body {
    height: 100%;
}

body {
	background-color: #f4f4f4;
	color: rgba(0, 0, 0, 0.8);
}

p {
	margin-bottom: 7px;
	margin-bottom: 0.5em;
}

div.flow {
	display: inline-block;
}

header {
	background-color: #119944;
	border-bottom: #0e6f32 1px solid;
    padding: 10px;
	width: 100%;
	z-index: 100;
	position: fixed;
	top: 0px;
	left: 0px;
	color: white;
	font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
	cursor: default;
}

/* footer styles */
footer {
	color: white;
	background-color: #303030;
	text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}
footer p {
    margin: 0;
}
footer div.content {
    padding: 10px;
}

/* misc styles */
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* panel styles */
.panel-group .panel, .panel-group .panel-primary {
    margin-bottom: 15px;
    
    /* overflow rules */
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.panel-primary .panel-heading {
	font-weight: bold;
    font-size: 14px;
    padding: 10px 15px 8px;
}

/* typeahead styles */
.typeahead-container {
    position: relative;
}
.coursein.typeahead {
	height: 38px;
    width: 100%;
	padding: 8px;
	font-size: 14px;
	border: 1px solid #cccccc;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.dropdown-menu {
	min-width: 200px;
    width: 100%;
    position: absolute;
    top: 38px;
	padding: 0;
    overflow: hidden;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;

}
.dd-item {
	display: block;
	padding: 3px 15px;
    background-color: white;
    cursor: default;
}
.dd-item.focus {
	background-color: #59b4ff;
	/*background-color: #cccccc;
    background-color: rgba(0, 0, 0, 0.15);*/
}

/* course-container */
#course-table {
    margin: 10px 0 0 0;
    display: none;
}

.glyphicon.glyphicon-remove-circle {
	font-size: 20px;
    vertical-align: top;
    color: #2196f3;
}
.glyphicon.glyphicon-remove-circle:hover {
    color: #147fd4;
}
.glyphicon.glyphicon-remove-circle:active {
    color: #0060aa;
}

.table.table-bordered tbody tr td {
    vertical-align: middle;
    border-left: none;
    border-right: none;
}

/* checkboxes */
.checkbox-inline+.checkbox-inline {
	margin: 0;
}

.checkbox-inline label {
	min-width: 150px;
}
