
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* class (draggable) styles */
.class-drag {
    position: absolute;
    width: 100%;
    line-height: 1;
    color: white;
    overflow: hidden;
    text-align: center;
    z-index: 10;
    opacity: 0.85;
    padding: 0 5px;
    transition-property: opacity;
    transition-duration: 0.1s;
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

.class-drag.ui-draggable-dragging {
	opacity: 0.7;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.class-drag.hovering {
	opacity: 0.7;
}

.class-drag>div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
}

.class-drag.locked::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: repeating-linear-gradient(
        -45deg,
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.15) 8.8388px,
        transparent 8.8388px,
        transparent 17.6777px
    );
}

.class-shadow {
    display: none; /* default hidden */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    z-index: 9;
}

.class-drag .class-capacity, .class-drag .class-location {
    font-size: 10px;
    padding-top: 1px;
}

.class-drag.nocapacity .class-capacity, .class-drag.nocapacity .class-location {
    padding-top: 3px;
}

/* grid styles */
#timetable {
    overflow-y: hidden;
    background-color: white;
    box-sizing: border-box;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 13px;
}

#timetable * {
	box-sizing: inherit;
}

.row-container {
    width: 100%;
    min-width: 510px;
    padding: 0 15px;
    cursor: default;
}

.col.head {
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    font-weight: bold;
    padding: 8px;
}

.col.body, .col.head {
    line-height: 1.846;
    text-align: center;
}

.col.body {
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    padding: 0;
    overflow: visible;
    height: 25px;
}

.col.body.half {
    border-top: 0;
}

.col.first {
    font-weight: bold;
    border-left: 0;
    border-right: 1px solid #dddddd;
}
.col.first>div {
    position: relative;
    top: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.col.small {
    font-size: 0.9em;
    font-weight: normal;
}

/* Used grid styles from bootstrap */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-1 {
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    position: relative;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
}

.col-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.w-100 {
  width: 100% !important;
}
