.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python working files
__pycache__
/scraper/cache.json
/scraper/tmp.json
/scraper/.config.json

# Data files
/public/tt.json

# PHP config files
/php/config/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
