.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage
/test/e2e/reports
selenium-debug.log

# Python working files
__pycache__
/scraper/cache.json
/scraper/tmp.json

# Data files
/static/tt.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
