/* Body Styles */
html, body {
  background: #fafafa;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

*, ::before, ::after {
    box-sizing: inherit;
}

/* Timetable Styles */
.timetable {
  position: relative;
  overflow-x: visible;
}

.row {
  display: flex;
  height: 50px;
}
.row.header {
  font-weight: 500;
  font-size: 120%;
}

.row > div {
  position: relative;
  flex: 1 1 100%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 0;
  border-left-width: 1px;
  border-top-width: 1px;
  min-width: 120px;
}
.row > div:first-child {
  min-width: 70px;
  flex: 0 0 70px;
}
.row.header > div, .row > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row > div:last-child {
  border-right-width: 1px;
}
.row:last-child > div {
  border-bottom-width: 1px;
}

/* Session Styles */
.session {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.session > .label {
  text-align: center;
  line-height: 1.25;
}
.session > .label > .em {
  font-weight: 500;
}

.details {
  text-align: center;
  line-height: 1.1;
  font-size: 80%;
}

/* Clash Styles */
